body {

    background-color: #FFDD95;
}

nav {
    background-color: #FF9843;
    color: #000000;
    position: relative;
    text
}

footer {
    background-color: #3468C0;
    font-size: medium;
    text-align: center;
    height: 100px;
}

main {
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
}



#employeeCards {
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    border-image: fill;

    img {

        height: auto;
      
        width: 300px;
      
      }
  
}

td{
    background-color: #86A7FC;

    border: 4px solid;

}